:root {
  display: flex;
  background: #222;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
canvas {
  border: 5px solid #444;
  position: relative;
  width: 95vmin;
  border-radius: 5%;
}
#dbg {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0.75, 0.75, 0.75, 0.5);
  width: 5em;
  border-bottom: white solid 1px;
  text-align: right;
}
